Source: openmediavault-vdr-extras
Section: net
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
XB-Plugin-Section: multimedia

Package: openmediavault-vdr-extras
Architecture: all
Depends: openmediavault (>= 3.0.15),
         openmediavault-vdr (>= 3.0.3),
         vdr-plugin-epgsearch,
         vdr-plugin-live,
         vdr-plugin-streamdev-server,
         vdr-plugin-xineliboutput,
         vdradmin-am,
         ${misc:Depends}
Description: Extras plugin for openmediavault-vdr.
 Provides EPGSearch, LIVE (LIVE Interactive VDR Environment),
 Streamdev, Xineliboutput and VDRAdmin-AM.
